<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='menu-admin')"> </head>

<body>
	<div th:replace="fragments/base.html :: mostraProfilo">
	</div>
	<nav>
	</nav>
	<div id="titolo">
		<h1>Menu Amministratore</h1>
	</div>
	<div id="flex-container2">
		<div class="side">
			<ul>
				<li><a href="/">home</a></li>
			</ul>
		</div>
		<div class="center">
			<div>
				<table class="gestisci">
				<th>Film</th>
					<tr th:each="film:${films}">
						<td th:text="${film.titolo}">titolo:</td>
						<td class="bottone">
						<form th:action="@{'/admin/rimuovifilm' + '/' + ${film.id}}" method="GET">
							<button class="rimuovi" type="submit">rimuovi</button>
						</form>
						</td>
						<td class="bottone">
							<form th:action="@{'/admin/modificaFilm' + '/' + ${film.id}}" method="GET">
								<button class="update" type="submit">modifica</button>
							</form>
						</td>
					</tr>
					<tr>
						<td class="titolo">
							<strong>aggiungi film</strong>
						</td>
						<td>
							<form th:action="@{/admin/film}" method="GET">
								<button class="add" type="submit">aggiungi</button>
							</form>
						</td>
					</tr>
				</table>
			</div>
			<div>
				<table class="gestisci">
				<th>Sale</th>
					<tr th:each="sala:${sale}">
						<td th:text="${sala.nome}">titolo:</td>
						<td class="bottone">
						<form th:action="@{'/admin/rimuovisala' + '/' + ${sala.id}}" method="GET">
							<button class="rimuovi" type="submit">rimuovi</button>
						</form>
						</td>
						<td class="bottone">
							<form th:action="@{'/admin/modificaSala' + '/' + ${sala.id}}" method="GET">
								<button class="update" type="submit">modifica</button>
							</form>
						</td>
					</tr>
					<tr>
						<td class="titolo">
							<strong>aggiungi sala</strong>
						</td>
						<td>
							<form th:action="@{/admin/sala}" method="GET">
								<button class="add" type="submit">aggiungi</button>
							</form>
						</td>
					</tr>
				</table>
			</div>
			<div>
				<table  class="gestisci">
				<th>Proiezioni</th>
					<tr th:each="proiezione:${proiezioni}">
						<td th:text="|${proiezione.film.titolo} ${proiezione.inizio}|">titolo:</td>
						<td class="bottone">
						<form th:action="@{'/admin/rimuoviproiezione' + '/' + ${proiezione.id}}" method="GET">
							<button class="rimuovi" type="submit">rimuovi</button>
						</form>
						</td>
						<td class="bottone">
							<form th:action="@{'/admin/modificaProiezione' + '/' + ${proiezione.id}}" method="GET">
								<button class="update" type="submit">modifica</button>
							</form>
						</td>
					</tr>
					<tr>
						<td class="titolo">
							<strong>aggiungi proiezione</strong>
						</td>
						<td>
							<form th:action="@{/admin/proiezione}" method="GET">
								<button class="add" type="submit">aggiungi</button>
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div th:replace="fragments/base.html :: ricerca">
        </div>
	</div>
	<footer th:replace="fragments/base.html :: fondo">
   </footer>
</body>
</html>
	