<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='modifica-Film')"> </head>

<body>
	<div th:replace="fragments/base.html :: mostraProfilo">
	</div>
	<nav>
	</nav>
	<div id="titolo">
		<h1>Modifica Film</h1>
	</div>
	<div id="flex-container2">
		<div class="side">
			<ul>
				<li><a href="/">home</a></li>
				<li><a th:href="@{/admin}">torna al Menu</a></li>
			</ul>
		</div>
		<div class="form">
		<form th:action="@{'/admin/modificaFilm' + '/' + ${film.id}}" method="POST" enctype="multipart/form-data" th:object="${film}">	
		<div>
		<table class="gestisci">
		<th Class="dati">Dati Film</th>
		<th>Modifica</th>
			<tr class="dati">
				<td><strong>Titolo: </strong><span th:text="*{titolo}"></span></td>
				<td><input type="text" name="titolo"  placeholder="Titolo"/></td>
			</tr>		
			<tr>
				<td><strong>Descrizione:</strong> <span th:text="*{descrizione}"></span></td>
				<td><textarea rows="5" cols="30" name="descrizione" placeholder="Descrizione...">
					</textarea></td>
			</tr>
			<tr>
				<td><strong>regista: </strong><span th:text="|*{nomeregista} *{cognomeregista}|"></span></td>
				<td>
				<p><input type="text" name="nomeregista" placeholder="Nome"/></p>
				<p><input type="text" name="cognomeregista" placeholder="Cognome" /></p>
				</td>
			</tr>
			<tr>
			<td><img th:src="@{'/images/'+*{copertina}}" align="center"/></td>
				<td><input type="file" name="file" accept="image/png, image/jpeg" /></td>
			</tr>
			<tr>
			<td></td>
				<td><button type="submit">Invio</button></td>
			</tr>
		</table>
		</div>
		</form>
		</div>
		<div th:replace="fragments/base.html :: ricerca">
        </div>
	</div>
	<footer th:replace="fragments/base.html :: fondo">
   </footer>
</body>

</html>