<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='modifica-sala')"> </head>

<body>
	<div th:replace="fragments/base.html :: mostraProfilo">
	</div>
	<nav>
	</nav>
	<div id="titolo">
		<h1>Modifica Sala</h1>
	</div>
	<div id="flex-container2">
		<div class="side">
			<ul>
				<li><a href="/">home</a></li>
				<li><a th:href="@{/admin}">torna al Menu</a></li>
			</ul>
		</div>
		<div class="form">
		<form th:action="@{'/admin/modificaSala' + '/' + ${sala.id}}" method="POST"  th:object="${sala}">	
		<div>
		<table class="gestisci">
		<th>Dati Sala</th>
		<th>Modifica</th>
			<tr>
				<td><strong>Nome: </strong><span th:text="*{nome}"></span></td>
				<td><input type="text" name="nome" placeholder="nome" /></td>
			</tr>		
			<tr>
			<td></td>
				<td><button type="submit">Invio</button></td>
			</tr>
		</table>
		</div>
		</form>
		</div>
		<div th:replace="fragments/base.html :: ricerca">
        </div>
	</div>
	<footer th:replace="fragments/base.html :: fondo">
   </footer>
</body>
