<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='sala-form')"> </head>

<body>
	<div th:replace="fragments/base.html :: mostraProfilo">
	</div>
	<nav>
	</nav>
	<div id="titolo">
		<h1>LogIn</h1>
	</div>
	<div id="flex-container2">
		<div class="side">
			<ul>
				<li><a href="/">home</a></li>
				<li><a th:href="@{/admin}">torna al Menu</a></li>
			</ul>
		</div>
		<div class="center">
		<form th:action="@{/admin/sala}" method="POST"  th:object="${sala}">
			<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		
		<div>
		<table>
		<th>Dati Sala</th>
			<tr>
				<td><strong>Nome:</strong></td>
				<td><input type="text" th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>		
			<tr>
				<td><strong>Posti:</strong></td>
				<td><input type="number" name="numPosti" /></td>
			</tr>
			</tr>
			<tr>
				<td><button type="submit">Invio</button></td>
			</tr>
		</table>
		</div>
		</form>
		</div>
		 <div th:replace="fragments/base.html :: ricerca">
        </div>
	</div>
	<footer th:replace="fragments/base.html :: fondo">
   </footer>
</body>

</html>